.beats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

h2, h3 {
    color: #fff;
    font-family: "Summer", sans-serif;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.disclaimer {
    color: #fff;
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}

.audio-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.beats-container {
    background-color: #222222;
    border: 2px solid white;
    width: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ind-beat {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    color: #fff;
    height: 70px;
}
.ind-beat p {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}
.ind-beat:hover {
    background-color: #353535;
}

.beat-cover {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.beat-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.share-price-container {
    display: flex;
    align-items: center;
}

.beat-share {
    height: 30px;
    margin-right: 5px;
    width: 30px;
}
.price-button {
    height: 30px;
}

.beat-tags {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.sticky-waveform {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #1B1B1B;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    z-index: 999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.waveform-content {
    flex-grow: 1;
    margin-right: 10px;
}
  
.waveform-beat-cover {
    flex-basis: 70px;
    margin-right: 20px;
    height: 130px;
}
  
.waveform-beat-title {
    flex-basis: 200px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
  
.waveform-share, .waveform-add-to-cart {
    flex-basis: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waveform-share:hover .waveform-add-to-cart:hover {
    background-color: #a0a0a0;
    transition: .1s ease-in-out;
}
.waveform-volume-slider {
    width: 100px;
    height: 10px;
    background: #ddd;
    outline: none;
    /* -webkit-appearance: none; */
    /* appearance: none; */
    margin-right: 20px;
    background: purple;
}
.waveform-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
}
.waveform-volume-slider::-moz-range-thumb {
    background: purple;
    cursor: pointer;
}

.audio-container {
    position: relative;
    width: 60%;
    height: 50px;
    background: #1B1B1B;
    border-radius: 5px;
    overflow: hidden;
}
  
.audio-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #212121;
    transition: width 0.1s linear;
    z-index: 0;
}
  
.audio-container:hover::before {
    width: 100%;
}
  
.controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #fff;
}
  
.controls .genre-container {
    display: flex;
    align-items: center;
}
  
.controls .genre-container img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.controls .genre {
    position: absolute;
    left: 10px;
    font-size: 12px;
}
  
.controls .price-button {
    position: absolute;
    right: 10px;
}

.price-button:hover {
    background-color: #a0a0a0;
    transition: .1s ease-in-out;
}
.beat-share:hover {
    background-color: #a0a0a0;
    transition: .1s ease-in-out;
}

.cart-icon {
    margin-right: 5px;
}

@media screen and (max-width: 968) {
    .beats-container {
        width: 100%;
    }
}
