h1 {
    display: flex;
    align-items: center;
    font-family: "Summer", sans-serif;
}

/* The brandname object. */
.title-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.brand {
    font-size: 24px;
    color: #fff;
    /* padding: 0 10px; */
    position: relative;
}

/* Achieving the VU Meter effect. */
.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
    height: 50px;
    /* padding: 0 10px; */
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 16px;
}
.bar {
    width: 10px;
    background-color: #fff;
    animation: vuMeter 2s infinite ease-in-out;
}
.middle-bar {
    width: 10px;
    background: #fff;
    animation: middleVuMeter 2s infinite ease-in-out;
}

.first-bar {
    position: relative;
    width: 10px;
    height: 35px;
}
  
/* Add a vertical bar to the .first-bar class */
.first-bar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #fff;
    animation: vuMeter 2s infinite ease-in-out;
    animation-direction: alternate-reverse;
}
  
/* Add a dot to the .first-bar class */
.first-bar::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    transform-origin: bottom;
    animation: dotVuMeter 2s infinite ease-in-out;
    animation-direction: alternate-reverse;
    background-color: #fff;
    border-radius: 50%;
}
  
@keyframes middleVuMeter {
    0%, 100% {
        height: 10%;
    }
    50% {
        height: 80%;
    }
}
@keyframes vuMeter {
    0%, 100% {
      height: 20%;
    }
    50% {
      height: 100%;
    }
}
/* Add a new @keyframes animation for the dot */
@keyframes dotVuMeter {
    0%, 100% {
      transform: translateY(60%);
    }
    50% {
      transform: translateY(-80%);
    }
}