.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    font-family: Verdana, sans-serif;
}
.header-brand {
    margin-left: 50px;
    align-items: center;
}
.logo {
    width: 100px;
    height: 100px;
}
.header-navbar {
    z-index: 999;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
  
.header-navbar ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    /* margin: 0 auto; */
}
  
.header-navbar li {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 18px;
}
  
.header-navbar a {
    color: #fff;
    text-decoration: none;
    transition: .1s ease-in-out;
}
  
.header-navbar a:hover {
    color: #7423c0;
}

.cart-container {
    position: relative;
    cursor: pointer;
}

.header-cart-icon {
    cursor: pointer;
    color: #fff;
    margin-right: 50px;
    height: 25px;
    transition: .1s ease-in-out;
}

.header-cart-icon:hover {
    color: #7423c0;
}

.header-cart-item-count {
    color: #fff;
    margin-bottom: 10px;
}

.header-cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: -200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    min-width: 200px;
    z-index: 1000;
    transition: right 1s ease-out;
}

.header-cart-dropdown.visible {
    display: block;
    animation: slideIn 1s forwards;
}

.header-cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-cart-items li {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 5px;
}

.header-cart-total {
    color: #fff;
    margin-top: 20px;
    text-align: left;
}

.header-cart-checkout,
.header-cart-clear {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0;
}

.header-cart-checkout {
    margin-right: 10px;
}
  
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@keyframes slideIn {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

.hamburger {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.mavbar-open {
    transform: translateX(0);
}

/* Mobile styling */
@media screen and (max-width: 968px) {
    .header {
        height: 75px;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1001;
        width: 100%;
    }
    .header-navbar {
        position: fixed;
        z-index: 1000;
        height: fit-content;
        top: 75px;
        width: 33%;
        background-color: #000;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        flex-direction: column;
    }
    .header-navbar ul {
        flex-direction: column;
    }
    .header-navbar li {
        margin-top: 20px;
    }
    .header-navbar.open {
        transform: translateX(0);
    }

    .header-brand {
        order: 2;
        transform: translateX(-50%, -50%);
    }
    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburger {
        display: flex;
        margin-left: 20px;
    }

    .header-cart-icon {
        order: 1;
    }

    .cart-container {
        order: 3;
        right: -25px;
    }
}